html{
  scroll-behavior: smooth;
}
.item {
  display: flex;
  margin-bottom: 2em;
  border: 1px solid gray;
  padding: 15px ;
}
.item img{
    width: 250px;
    height: 250px;
    object-fit: contain;
   
    margin-right: 2em;
}

.arrow-btn{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;

  padding-top: 10px;
}

.arrow-btn a{
    height: 39px;
    width: 37px;
    text-align: center;
    background-color: #1b1b1b ;
    display: block;
    border-radius: 30px;
    cursor: pointer;
    
}

.arrow-btn a span{
  color : #f2f2f2;
  line-height: 39px;
  font-size: 25px;
}

.arrow-btn a span:hover{
  color : red;
}

/* Menu */
 .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 800px;
  }

  body{
    background-color: gray;
  }
  
  nav li  {
    float: left;
    justify-content: center;
    display: flex;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  .visitado{
    background-color: #111;
    text-decoration: underline;
  }
  li a:hover {
    background-color: #111;
    text-decoration: underline;
  }

  li a:visited{
    text-decoration: underline;
  }

  a link{
    text-decoration: none;
  }



/* Corpo do site */
  .siteFeiticeira{
    background-image: url("/images/backgroundFeiticeira.jpg");
  }

  .site{    

    margin-left: 230px;

  }

  .conteudo{
    background-color: white;
    /* border: solid; */
    width: 750px;
    padding:25px;
}



/* Imagem do site */
.imageBanner{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 310px;
}

p{
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    color: black;
}
.magia{
  position: relative;
  left: 230px;
  width: 280px;

}
.familia{
  position: relative;
  left: 76px;
}
.familiaMercurio{
  position: relative;
  width: 450px;
  left: 145px;
}
.mercurioHistoria{
  height: 300px;
  width: 600px;
  position: relative;
  left: 80px;
}

figcaption{
  text-align: center;
}
.feiticeiraDisney{
    height: 300px;
    width: 250px;
    position: relative;
    left: 488px;
}
.mercurioDisney{
  height: 300px;
  width: 600px;
  position: relative;
  left: 80px;
}


